In [1]:
import pandas as pd

In [12]:
df1 = pd.DataFrame([[8, 1, 5], [9, 2, 6], [7, 3, 4]], columns=['A', 'B', 'C'])

In [13]:
df1

   A  B  C
0  8  1  5
1  9  2  6
2  7  3  4

In [18]:
df2 = pd.DataFrame([[18, 2, 15], [29, 1, 26], [71, 3, 54]], columns=['X', 'Y', 'Z'])

In [27]:
df2

    X  Y   Z
0  18  2  15
1  29  1  26
2  71  3  54

In [20]:
df3 = pd.merge(df1, df2, right_on='Y', left_on="B")

In [21]:
print(df3)

   A  B  C   X  Y   Z
0  8  1  5  29  1  26
1  9  2  6  18  2  15
2  7  3  4  71  3  54